@model IEnumerable<InoutBoard.Core.Models.BoardUser>
@{
    ViewBag.Title = "Home Page";
}
<div>
    <ul id="messages">

    </ul>
   @* <ul>
        @foreach (var user in Model)
        {
            <li>@user.Email</li>
        }
    </ul>*@
</div>
